Repository karafka/karafka, pull requests merged in 2023-03, with the labels that each got.

#1341 1124 - Rename Datadog Listener to MetricsListener for consistency.
  CHANGELOG.md
  lib/karafka/instrumentation/vendors/datadog/listener.rb
  lib/karafka/instrumentation/vendors/datadog/metrics_listener.rb
  spec/integrations/instrumentation/datadog_metrics_flow_spec.rb
  spec/lib/karafka/instrumentation/vendors/datadog/metrics_listener_spec.rb
Labels: 2.0, instrumentation

#1348 Rename Datadog Listener to MetricsListener for consistency part 2
  CHANGELOG.md
  lib/karafka/instrumentation/vendors/datadog/listener.rb
  lib/karafka/instrumentation/vendors/datadog/metrics_listener.rb
  spec/integrations/instrumentation/datadog_metrics_flow_spec.rb
  spec/integrations/pro/consumption/strategies/dlq/multi_topic_one_target_multi_partitions_flow_spec.rb
  spec/lib/karafka/instrumentation/vendors/datadog/metrics_listener_spec.rb
Labels: 2.0, internal, instrumentation

#1350 improve spec stability
  spec/integrations/pro/consumption/strategies/vp/with_parallel_errors_spec.rb
Labels: 2.0, specs, internal

#1355 extra spec to ensure managability of inactive topics
  spec/integrations/cli/topics/migrate_inactive_spec.rb
Labels: specs

#1359 Rename structurable to declaratives
  CHANGELOG.md
  Gemfile.lock
  config/locales/errors.yml
  lib/karafka/cli/topics.rb
  lib/karafka/routing/features/declaratives.rb
  lib/karafka/routing/features/declaratives/config.rb
  lib/karafka/routing/features/declaratives/contract.rb
  lib/karafka/routing/features/declaratives/topic.rb
  lib/karafka/version.rb
  spec/integrations_helper.rb
  spec/lib/karafka/routing/features/declaratives/config_spec.rb
  spec/lib/karafka/routing/features/declaratives/contract_spec.rb
  spec/lib/karafka/routing/features/declaratives/topic_spec.rb
  spec/lib/karafka/routing/features/declaratives_spec.rb
  spec/lib/karafka/routing/features/structurable/topic_spec.rb
  spec/lib/karafka/routing/topic_spec.rb
Labels: 2.0, internal

#1363 Fix AJ + DLQ + MOM + LRJ is pausing indefinitely after the first job
  CHANGELOG.md
  lib/karafka/pro/processing/strategies/aj_dlq_lrj_mom.rb
  spec/integrations/pro/consumption/strategies/aj_dlq_lrj_mom/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/aj_dlq_lrj_mom/with_recoverable_slow_jobs_error_spec.rb
  spec/integrations/pro/consumption/strategies/aj_dlq_lrj_mom_vp/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/aj_dlq_lrj_mom_vp/with_recoverable_slow_jobs_error_spec.rb
  spec/integrations/pro/consumption/strategies/aj_dlq_mom/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/aj_dlq_mom/with_recoverable_jobs_error_spec.rb
  spec/integrations/pro/consumption/strategies/aj_dlq_mom_vp/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/aj_dlq_mom_vp/with_recoverable_jobs_error_spec.rb
  spec/integrations/pro/consumption/strategies/dlq_lrj/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/dlq_lrj_mom/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/dlq_lrj_vp/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/dlq_mom/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/dlq_vp/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/lrj/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/lrj_vp/regular_processing_one_by_one_without_errors_spec.rb
  spec/integrations/pro/consumption/strategies/vp/regular_processing_one_by_one_without_errors_spec.rb
Labels: bug, 2.0, activejob, pro, lrj, dead letter queue

#1367 Do not mix primary and secondary cluster in declarative management
  CHANGELOG.md
  Gemfile.lock
  lib/karafka/cli/topics.rb
  lib/karafka/version.rb
  spec/integrations/cli/topics/ignore_non_primary_cluster_spec.rb
Labels: bug, 2.0, declaratives

#1370 disable auto-commit on admin actions
  CHANGELOG.md
  lib/karafka/admin.rb
Labels: bug, 2.0, admin

#1373 Better AJ instrumentation (#1372)
  CHANGELOG.md
  Gemfile.lock
  lib/karafka/active_job/consumer.rb
  lib/karafka/instrumentation/notifications.rb
  lib/karafka/pro/active_job/consumer.rb
  lib/karafka/version.rb
  spec/integrations/instrumentation/aj_per_job_consumption_events_spec.rb
  spec/integrations/pro/instrumentation/aj_per_job_consumption_events_spec.rb
Labels: 2.0, activejob, instrumentation

#1381 Improve admin operations and introduce watermark offset readings
  CHANGELOG.md
  lib/karafka/admin.rb
  spec/lib/karafka/admin_spec.rb
Labels: 2.0, admin

#1382 Rename watermark_offsets method
  CHANGELOG.md
  lib/karafka/admin.rb
  spec/lib/karafka/admin_spec.rb
Labels: 2.0, admin

#1383 optimize read topic flow
  lib/karafka/admin.rb
Labels: 2.0, internal, admin
