Repository karafka/karafka, pull requests merged in 2024-08, with the labels that each got.

#2192 cover librdkafka stability issue with integration
  Gemfile.lock
  spec/integrations/pro/consumption/multiplexing/dynamic_upscale_to_big_setup_spec.rb
Labels: specs

#2203 Support `#eofed` consumer action
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  karafka.gemspec
  lib/karafka/base_consumer.rb
  lib/karafka/connection/client.rb
  lib/karafka/connection/listener.rb
  lib/karafka/connection/messages_buffer.rb
  lib/karafka/connection/raw_messages_buffer.rb
  lib/karafka/constraints.rb
  lib/karafka/instrumentation/logger_listener.rb
  lib/karafka/instrumentation/notifications.rb
  lib/karafka/pro/processing/jobs/eofed_non_blocking.rb
  lib/karafka/pro/processing/jobs_builder.rb
  lib/karafka/pro/processing/schedulers/default.rb
  lib/karafka/processing/coordinator.rb
  lib/karafka/processing/executor.rb
  lib/karafka/processing/jobs/eofed.rb
  lib/karafka/processing/jobs_builder.rb
  lib/karafka/processing/schedulers/default.rb
  lib/karafka/processing/strategies/default.rb
  lib/karafka/version.rb
  spec/integrations/consumption/eofed/error_recovery_spec.rb
  spec/integrations/consumption/eofed/marking_as_consumed_spec.rb
  spec/integrations/consumption/eofed/post_consumption_spec.rb
  spec/integrations/consumption/eofed/post_eof_state_change_spec.rb
  spec/integrations/consumption/eofed/when_eof_reached_on_an_empty_topic_spec.rb
  spec/integrations/consumption/eofed/when_eof_reached_on_multiple_empty_topics_spec.rb
  spec/integrations/pro/consumption/eofed/vps_with_eof_spec.rb
  spec/integrations/pro/consumption/periodic_jobs/with_eof_status_spec.rb
  spec/integrations/web/incompatible_version_pristine_0.7/console_with_rails_spec.rb
  spec/lib/karafka/connection/raw_messages_buffer_spec.rb
  spec/lib/karafka/instrumentation/logger_listener_spec.rb
  spec/lib/karafka/pro/processing/jobs/eofed_non_blocking_spec.rb
  spec/lib/karafka/pro/processing/jobs_builder_spec.rb
  spec/lib/karafka/processing/coordinator_spec.rb
  spec/lib/karafka/processing/executor_spec.rb
  spec/lib/karafka/processing/jobs/eofed_spec.rb
  spec/lib/karafka/processing/jobs_builder_spec.rb
Labels: enhancement

#2208 skip require rails on env
  CHANGELOG.md
  lib/karafka.rb
  spec/integrations/rails/rails71_pristine/just-a-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails71_pristine/just-a-loaded-dependency/Gemfile
  spec/integrations/rails/rails71_pristine/just-a-loaded-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails71_pristine/just-a-not-loaded-dependency/Gemfile
  spec/integrations/rails/rails71_pristine/just-a-not-loaded-dependency/rails_setup_spec.rb
Labels: rails

#2215 validate eof consistency
  CHANGELOG.md
  Gemfile.lock
  config/locales/errors.yml
  lib/karafka/routing/features/eofed/contracts/topic.rb
  lib/karafka/version.rb
  spec/integrations/routing/eofed/with_eof_disabled_and_kafka_eof_spec.rb
  spec/integrations/routing/eofed/with_eof_in_different_scope_spec.rb
  spec/integrations/routing/eofed/with_eof_in_same_scope_spec.rb
  spec/integrations/routing/eofed/with_eof_spec.rb
  spec/integrations/routing/eofed/without_eof_spec.rb
  spec/integrations_helper.rb
  spec/lib/karafka/routing/features/eofed/contracts/topic_spec.rb
Labels: routing, eofed

#2219 Rails 7.2 integration setup
  bin/integrations
  spec/integrations/pro/rails/rails70_pristine/just_a_dependency/Gemfile
  spec/integrations/pro/rails/rails70_pristine/just_a_dependency/railtie_setup_spec.rb
  spec/integrations/pro/rails/rails70_pristine/with-active_job_and_current_attributes/Gemfile
  spec/integrations/pro/rails/rails70_pristine/with-active_job_and_current_attributes/active_job_run_spec.rb
  spec/integrations/pro/rails/rails72_pristine/just_a_dependency/Gemfile
  spec/integrations/pro/rails/rails72_pristine/just_a_dependency/railtie_setup_spec.rb
  spec/integrations/pro/rails/rails72_pristine/with-active_job_and_current_attributes/Gemfile
  spec/integrations/pro/rails/rails72_pristine/with-active_job_and_current_attributes/active_job_run_spec.rb
  spec/integrations/rails/rails70_pristine/just-a-dependency/Gemfile
  spec/integrations/rails/rails70_pristine/just-a-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails70_pristine/just-a-dependency/with_potential_name_collision_spec.rb
  spec/integrations/rails/rails70_pristine/with-active_job/Gemfile
  spec/integrations/rails/rails70_pristine/with-active_job/extended_routing_absence_spec.rb
  spec/integrations/rails/rails70_pristine/with-active_job/railtie_setup_spec.rb
  spec/integrations/rails/rails70_pristine/with-active_job/without_double_logging_spec.rb
  spec/integrations/rails/rails70_pristine/with-active_job_and_current_attributes/Gemfile
  spec/integrations/rails/rails70_pristine/with-active_job_and_current_attributes/active_job_run_spec.rb
  spec/integrations/rails/rails70_pristine/with-active_job_and_current_attributes/resource_accesibility_and_isolation_spec.rb
  spec/integrations/rails/rails70_pristine/without-active_job/Gemfile
  spec/integrations/rails/rails70_pristine/without-active_job/extended_routing_absence_spec.rb
  spec/integrations/rails/rails70_pristine/without-active_job/railtie_setup_spec.rb
  spec/integrations/rails/rails70_pristine/without-active_job_rspec/Gemfile
  spec/integrations/rails/rails70_pristine/without-active_job_rspec/console_with_rails_spec.rb
  spec/integrations/rails/rails70_pristine/without-active_job_rspec/rspec_rails_setup_spec.rb
  spec/integrations/rails/rails72_pristine/just-a-dependency/Gemfile
  spec/integrations/rails/rails72_pristine/just-a-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails72_pristine/just-a-dependency/with_potential_name_collision_spec.rb
  spec/integrations/rails/rails72_pristine/just-a-loaded-dependency/Gemfile
  spec/integrations/rails/rails72_pristine/just-a-loaded-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails72_pristine/just-a-not-loaded-dependency/Gemfile
  spec/integrations/rails/rails72_pristine/just-a-not-loaded-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails72_pristine/with-active_job/Gemfile
  spec/integrations/rails/rails72_pristine/with-active_job/extended_routing_absence_spec.rb
  spec/integrations/rails/rails72_pristine/with-active_job/railtie_setup_spec.rb
  spec/integrations/rails/rails72_pristine/with-active_job/without_double_logging_spec.rb
  spec/integrations/rails/rails72_pristine/with-active_job_and_current_attributes/Gemfile
  spec/integrations/rails/rails72_pristine/with-active_job_and_current_attributes/active_job_run_spec.rb
  spec/integrations/rails/rails72_pristine/with-active_job_and_current_attributes/resource_accesibility_and_isolation_spec.rb
  spec/integrations/rails/rails72_pristine/with-active_job_and_perform_all_later/Gemfile
  spec/integrations/rails/rails72_pristine/with-active_job_and_perform_all_later/perform_all_later_run_spec.rb
  spec/integrations/rails/rails72_pristine/with_kubernetes_listener_in_the_console/Gemfile
  spec/integrations/rails/rails72_pristine/with_kubernetes_listener_in_the_console/console_with_rails_spec.rb
  spec/integrations/rails/rails72_pristine/without-active_job/Gemfile
  spec/integrations/rails/rails72_pristine/without-active_job/extended_routing_absence_spec.rb
  spec/integrations/rails/rails72_pristine/without-active_job/railtie_setup_spec.rb
  spec/integrations/rails/rails72_pristine/without-active_job_rspec/Gemfile
  spec/integrations/rails/rails72_pristine/without-active_job_rspec/console_with_rails_spec.rb
  spec/integrations/rails/rails72_pristine/without-active_job_rspec/rspec_rails_setup_spec.rb
Labels: rails

#2221 Provide API for CGs renaming
  CHANGELOG.md
  lib/karafka/admin.rb
  spec/integrations/admin/rename_consumer_group/when_previous_and_new_cgs_exist_spec.rb
  spec/integrations/admin/rename_consumer_group/when_previous_cg_does_not_exist_spec.rb
  spec/integrations/admin/rename_consumer_group/with_non_existing_topics_spec.rb
  spec/integrations/admin/rename_consumer_group/without_old_removal_spec.rb
  spec/lib/karafka/admin_spec.rb
Labels: admin

#2224 support partial kafka routing reconfiguration
  CHANGELOG.md
  lib/karafka/routing/topic.rb
  spec/integrations/routing/with_topic_inherited_settings_spec.rb
Labels: routing

#2227 More recurring tasks specs
  spec/integrations/pro/recurring_tasks/state_publishing_frequency_spec.rb
  spec/integrations/pro/recurring_tasks/state_structure_spec.rb
Labels: recurring tasks

#2228 Align API for recurring tasks in routing so it matches other methods in this API
  lib/karafka/pro/routing/features/recurring_tasks/builder.rb
  spec/integrations/pro/recurring_tasks/defining_schedule_spec.rb
  spec/integrations/pro/recurring_tasks/disable_enable_all_spec.rb
  spec/integrations/pro/recurring_tasks/disabled_state_replaying_spec.rb
  spec/integrations/pro/recurring_tasks/logging_data_published_spec.rb
  spec/integrations/pro/recurring_tasks/routes_creation_spec.rb
  spec/integrations/pro/recurring_tasks/state_publishing_frequency_spec.rb
  spec/integrations/pro/recurring_tasks/state_structure_spec.rb
  spec/integrations/pro/recurring_tasks/trigger_all_spec.rb
  spec/integrations/pro/recurring_tasks/version_downgrade_block_spec.rb
  spec/integrations/pro/recurring_tasks/version_upgrade_allowed_spec.rb
  spec/integrations/pro/recurring_tasks/with_changed_cron_between_versions_spec.rb
  spec/integrations/pro/recurring_tasks/with_completely_removed_schedule_spec.rb
  spec/integrations/pro/recurring_tasks/with_simple_disabled_job_spec.rb
  spec/integrations/pro/recurring_tasks/with_simple_enabled_job_spec.rb
  spec/integrations/pro/recurring_tasks/without_any_schedules_spec.rb
  spec/integrations/pro/recurring_tasks/without_fugit_pristine/fail_without_fugit_spec.rb
  spec/lib/karafka/pro/routing/features/recurring_tasks/builder_spec.rb
Labels: recurring tasks

#2230 Align naming to ease testing
  lib/karafka/pro/recurring_tasks/consumer.rb
  lib/karafka/pro/recurring_tasks/executor.rb
  lib/karafka/pro/recurring_tasks/schedule.rb
  lib/karafka/pro/recurring_tasks/task.rb
  spec/lib/karafka/pro/recurring_tasks/consumer_spec.rb
  spec/lib/karafka/pro/recurring_tasks/executor_spec.rb
  spec/lib/karafka/pro/recurring_tasks/task_spec.rb
Labels: recurring tasks

#2231 Remove unused args
  lib/karafka/pro/recurring_tasks/serializer.rb
  spec/integrations/pro/recurring_tasks/logging_data_published_on_errors_spec.rb
  spec/integrations/pro/recurring_tasks/logging_data_published_spec.rb
  spec/lib/karafka/pro/recurring_tasks/serializer_spec.rb
Labels: recurring tasks

#2233 Wrap worker/job execution with rails reloader or executor
  CHANGELOG.md
  config/locales/errors.yml
  lib/karafka/contracts/config.rb
  lib/karafka/processing/worker.rb
  lib/karafka/railtie.rb
  lib/karafka/setup/config.rb
  spec/lib/karafka/contracts/config_spec.rb
Labels: rails

#2234 prevent state key collisions
  lib/karafka/pro/recurring_tasks/dispatcher.rb
  spec/integrations/pro/recurring_tasks/state_structure_spec.rb
  spec/lib/karafka/pro/recurring_tasks/dispatcher_spec.rb
Labels: recurring tasks

#2235 Validate recurring tasks details
  config/locales/pro_errors.yml
  lib/karafka/pro/recurring_tasks.rb
  lib/karafka/pro/recurring_tasks/contracts/task.rb
  lib/karafka/pro/recurring_tasks/task.rb
  spec/lib/karafka/pro/recurring_tasks/contracts/task_spec.rb
  spec/lib/karafka/pro/recurring_tasks/task_spec.rb
  spec/lib/karafka/pro/recurring_tasks_spec.rb
Labels: recurring tasks

#2108 Config rework
  lib/karafka/pro/routing/features/dead_letter_queue/topic.rb
  lib/karafka/pro/routing/features/delaying/config.rb
  lib/karafka/pro/routing/features/delaying/topic.rb
  lib/karafka/pro/routing/features/direct_assignments/topic.rb
  lib/karafka/pro/routing/features/expiring/config.rb
  lib/karafka/pro/routing/features/expiring/topic.rb
  lib/karafka/pro/routing/features/filtering/config.rb
  lib/karafka/pro/routing/features/filtering/topic.rb
  lib/karafka/pro/routing/features/inline_insights/config.rb
  lib/karafka/pro/routing/features/inline_insights/topic.rb
  lib/karafka/pro/routing/features/long_running_job/config.rb
  lib/karafka/pro/routing/features/long_running_job/topic.rb
  lib/karafka/pro/routing/features/offset_metadata/config.rb
  lib/karafka/pro/routing/features/offset_metadata/topic.rb
  lib/karafka/pro/routing/features/patterns/config.rb
  lib/karafka/pro/routing/features/patterns/topic.rb
  lib/karafka/pro/routing/features/periodic_job/config.rb
  lib/karafka/pro/routing/features/periodic_job/topic.rb
  lib/karafka/pro/routing/features/swarm/config.rb
  lib/karafka/pro/routing/features/swarm/topic.rb
  lib/karafka/pro/routing/features/throttling/config.rb
  lib/karafka/pro/routing/features/throttling/topic.rb
  lib/karafka/pro/routing/features/virtual_partitions/config.rb
  lib/karafka/pro/routing/features/virtual_partitions/topic.rb
  lib/karafka/routing/base_config.rb
  lib/karafka/routing/builder.rb
  lib/karafka/routing/default.rb
  lib/karafka/routing/features/active_job/config.rb
  lib/karafka/routing/features/active_job/topic.rb
  lib/karafka/routing/features/dead_letter_queue/config.rb
  lib/karafka/routing/features/dead_letter_queue/topic.rb
  lib/karafka/routing/features/declaratives/config.rb
  lib/karafka/routing/features/declaratives/topic.rb
  lib/karafka/routing/features/deserializers/config.rb
  lib/karafka/routing/features/deserializers/topic.rb
  lib/karafka/routing/features/inline_insights/config.rb
  lib/karafka/routing/features/inline_insights/topic.rb
  lib/karafka/routing/features/manual_offset_management/config.rb
  lib/karafka/routing/features/manual_offset_management/topic.rb
  lib/karafka/routing/proxy.rb
  lib/karafka/routing/topic.rb
  spec/lib/karafka/pro/routing/features/periodic_job/topic_spec.rb
  spec/lib/karafka/routing/features/active_job/topic_spec.rb
  spec/lib/karafka/routing/features/inline_insights/topic_spec.rb
  spec/lib/karafka/routing/features/manual_offset_management/topic_spec.rb
Labels: enhancement, in-progress, routing

#2246 tombstone event check
  CHANGELOG.md
  Gemfile.lock
  lib/karafka/messages/message.rb
  lib/karafka/version.rb
  spec/integrations/consumption/of_a_tombstone_record_spec.rb
  spec/integrations/embedding/puma_single_poro/config/puma.rb
  spec/lib/karafka/messages/message_spec.rb
Labels: enhancement

#2247 support multi-topic reconfiguration
  CHANGELOG.md
  lib/karafka/pro/routing/features/recurring_tasks/builder.rb
  spec/integrations/pro/recurring_tasks/smarter_reconfiguration_spec.rb
Labels: recurring tasks

#2250 Add post-initialize consumer hook for custom component bootstrapping
  CHANGELOG.md
  lib/karafka/base_consumer.rb
  lib/karafka/instrumentation/logger_listener.rb
  lib/karafka/instrumentation/notifications.rb
  lib/karafka/processing/executor.rb
  lib/karafka/processing/strategies/default.rb
  spec/integrations/consumption/when_initialization_happens_spec.rb
  spec/integrations/instrumentation/initialized_flow_spec.rb
  spec/integrations/pro/consumption/periodic_jobs/initialized_prior_to_ticking_spec.rb
  spec/lib/karafka/base_consumer_spec.rb
  spec/lib/karafka/instrumentation/logger_listener_spec.rb
Labels: enhancement
