Repository karafka/karafka, pull requests merged in 2024-11, with the labels that each got.

#2325 Fix failing port binding spec
  spec/integrations/web/with_request_without_rails_pristine/Gemfile
  spec/integrations/web/with_request_without_rails_pristine/install_and_run_spec.rb
Labels: specs

#2331 support rails 8 in integrations
  bin/integrations
  spec/integrations/pro/rails/rails80_pristine/just_a_dependency/Gemfile
  spec/integrations/pro/rails/rails80_pristine/just_a_dependency/railtie_setup_spec.rb
  spec/integrations/pro/rails/rails80_pristine/with-active_job_and_current_attributes/Gemfile
  spec/integrations/pro/rails/rails80_pristine/with-active_job_and_current_attributes/active_job_run_spec.rb
  spec/integrations/rails/rails6_pristine/just-a-dependency/Gemfile
  spec/integrations/rails/rails6_pristine/without-a-boot-file/Gemfile
  spec/integrations/rails/rails6_pristine/without-a-boot-file/railtie_setup_spec.rb
  spec/integrations/rails/rails6_pristine/without-active_job/Gemfile
  spec/integrations/rails/rails6_pristine/without-active_job_rspec/Gemfile
  spec/integrations/rails/rails80_pristine/just-a-dependency/Gemfile
  spec/integrations/rails/rails80_pristine/just-a-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails80_pristine/just-a-dependency/with_potential_name_collision_spec.rb
  spec/integrations/rails/rails80_pristine/just-a-loaded-dependency/Gemfile
  spec/integrations/rails/rails80_pristine/just-a-loaded-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails80_pristine/just-a-not-loaded-dependency/Gemfile
  spec/integrations/rails/rails80_pristine/just-a-not-loaded-dependency/rails_setup_spec.rb
  spec/integrations/rails/rails80_pristine/with-active-job-transactional/Gemfile
  spec/integrations/rails/rails80_pristine/with-active-job-transactional/schedule_with_sqlite_spec.rb
  spec/integrations/rails/rails80_pristine/with-active_job/Gemfile
  spec/integrations/rails/rails80_pristine/with-active_job/extended_routing_absence_spec.rb
  spec/integrations/rails/rails80_pristine/with-active_job/railtie_setup_spec.rb
  spec/integrations/rails/rails80_pristine/with-active_job/without_double_logging_spec.rb
  spec/integrations/rails/rails80_pristine/with-active_job_and_current_attributes/Gemfile
  spec/integrations/rails/rails80_pristine/with-active_job_and_current_attributes/active_job_run_spec.rb
  spec/integrations/rails/rails80_pristine/with-active_job_and_current_attributes/resource_accesibility_and_isolation_spec.rb
  spec/integrations/rails/rails80_pristine/with-active_job_and_perform_all_later/Gemfile
  spec/integrations/rails/rails80_pristine/with-active_job_and_perform_all_later/perform_all_later_run_spec.rb
  spec/integrations/rails/rails80_pristine/with_kubernetes_listener_in_the_console/Gemfile
  spec/integrations/rails/rails80_pristine/with_kubernetes_listener_in_the_console/console_with_rails_spec.rb
  spec/integrations/rails/rails80_pristine/without-active_job/Gemfile
  spec/integrations/rails/rails80_pristine/without-active_job/extended_routing_absence_spec.rb
  spec/integrations/rails/rails80_pristine/without-active_job/railtie_setup_spec.rb
  spec/integrations/rails/rails80_pristine/without-active_job_rspec/Gemfile
  spec/integrations/rails/rails80_pristine/without-active_job_rspec/console_with_rails_spec.rb
  spec/integrations/rails/rails80_pristine/without-active_job_rspec/rspec_rails_setup_spec.rb
Labels: specs, internal

#2334 resolve ruby 3.1 deps fallback
  .github/workflows/ci.yml
Labels: specs

#2336 Report fast in criticals and support k8s criticals
  CHANGELOG.md
  Gemfile.lock
  lib/karafka/connection/client.rb
  lib/karafka/instrumentation/vendors/kubernetes/liveness_listener.rb
  lib/karafka/version.rb
  spec/integrations/instrumentation/vendors/kubernetes/fenced_out_criticality_spec.rb
Labels: instrumentation

#2338 Update Datadog metrics listener to avoid creating extra arrays
  lib/karafka/instrumentation/vendors/datadog/metrics_listener.rb
Labels: enhancement, instrumentation

#2340 add custom monitor scenario
  spec/integrations/instrumentation/statistics_callback_with_crashing_subscription_spec.rb
  spec/integrations/instrumentation/with_replaced_monitor_spec.rb
Labels: specs

#2342 improve dd and appsignal listeners
  CHANGELOG.md
  lib/karafka/instrumentation/vendors/appsignal/metrics_listener.rb
  lib/karafka/instrumentation/vendors/datadog/logger_listener.rb
  spec/integrations/instrumentation/vendors/datadog/metrics_with_eofed_spec.rb
Labels: bug, instrumentation

#2345 Add redraw method
  lib/karafka/routing/builder.rb
  spec/lib/karafka/routing/builder_spec.rb
Labels: enhancement, routing
