Repository karafka/karafka, pull requests merged in 2024-03, with the labels that each got.

#1941 Direct assignments
  CHANGELOG.md
  config/locales/pro_errors.yml
  lib/karafka/connection/client.rb
  lib/karafka/pro/iterator/expander.rb
  lib/karafka/pro/iterator/tpl_builder.rb
  lib/karafka/pro/routing/features/direct_assignments.rb
  lib/karafka/pro/routing/features/direct_assignments/config.rb
  lib/karafka/pro/routing/features/direct_assignments/contracts/consumer_group.rb
  lib/karafka/pro/routing/features/direct_assignments/contracts/topic.rb
  lib/karafka/pro/routing/features/direct_assignments/subscription_group.rb
  lib/karafka/pro/routing/features/direct_assignments/topic.rb
  lib/karafka/pro/routing/features/swarm/topic.rb
  lib/karafka/routing/subscription_group.rb
  spec/integrations/pro/consumption/direct_assignments/all_partitions_spec.rb
  spec/integrations/pro/consumption/direct_assignments/beyond_poll_interval_spec.rb
  spec/integrations/pro/consumption/direct_assignments/from_earliest_spec.rb
  spec/integrations/pro/consumption/direct_assignments/marking_as_consumed_spec.rb
  spec/integrations/pro/consumption/direct_assignments/multi_topic_in_one_cg_spec.rb
  spec/integrations/pro/consumption/direct_assignments/transactions_support_spec.rb
  spec/integrations/pro/encryption/consumption/with_key_mismatch_spec.rb
  spec/integrations/pro/routing/direct_assignments/with_mixed_group_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments/config_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments/contracts/consumer_group_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments/contracts/topic_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments/subscription_group_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments/topic_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments_spec.rb
Labels: direct assignments

#1944 Explicit partitions swarm assignments for direct assignments
  CHANGELOG.md
  config/locales/pro_errors.yml
  lib/karafka/pro/routing/features/direct_assignments/contracts/topic.rb
  lib/karafka/pro/routing/features/direct_assignments/subscription_group.rb
  lib/karafka/pro/routing/features/direct_assignments/topic.rb
  lib/karafka/pro/routing/features/swarm/contracts/topic.rb
  lib/karafka/pro/routing/features/swarm/topic.rb
  spec/integrations/pro/routing/direct_assignments/not_fulfilled_swarm_distribution_spec.rb
  spec/integrations/pro/swarm/direct_granular_assignments_spec.rb
  spec/integrations/pro/swarm/direct_granular_ranges_spec.rb
  spec/lib/karafka/pro/processing/coordinators/errors_tracker_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments/contracts/topic_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments/topic_spec.rb
  spec/lib/karafka/pro/routing/features/swarm/contracts/routing_spec.rb
  spec/lib/karafka/pro/routing/features/swarm/contracts/topic_spec.rb
Labels: pro, swarm, direct assignments

#1949 introduce marking as consumed in the iterator
  CHANGELOG.md
  lib/karafka/connection/client.rb
  lib/karafka/connection/proxy.rb
  lib/karafka/pro/iterator.rb
  lib/karafka/setup/config.rb
  spec/integrations/pro/iterator/stop_start_with_marking_spec.rb
  spec/lib/karafka/connection/proxy_spec.rb
Labels: iterator

#1952 drop CG mappers and introduce read_lags
  CHANGELOG.md
  Gemfile.lock
  config/locales/errors.yml
  lib/karafka/admin.rb
  lib/karafka/connection/proxy.rb
  lib/karafka/contracts/config.rb
  lib/karafka/pro/routing/features/patterns/builder.rb
  lib/karafka/routing/builder.rb
  lib/karafka/routing/consumer_group.rb
  lib/karafka/routing/consumer_mapper.rb
  lib/karafka/setup/config.rb
  spec/integrations/admin/read_lags/multi_cg_setup_spec.rb
  spec/integrations/admin/read_lags/simple_cases_spec.rb
  spec/integrations/routing/stable_with_limited_consumer_groups_excluded_spec.rb
  spec/integrations/routing/stable_with_limited_consumer_groups_spec.rb
  spec/integrations_helper.rb
  spec/lib/karafka/admin_spec.rb
  spec/lib/karafka/contracts/config_spec.rb
  spec/lib/karafka/routing/builder_spec.rb
  spec/lib/karafka/routing/consumer_group_spec.rb
  spec/lib/karafka/routing/consumer_mapper_spec.rb
Labels: routing, admin

#1953 Use config injector
  lib/karafka/cli/info.rb
  lib/karafka/cli/server.rb
  lib/karafka/cli/topics.rb
  lib/karafka/pro/encryption/cipher.rb
  lib/karafka/processing/coordinators_buffer.rb
  lib/karafka/processing/executor.rb
  lib/karafka/processing/executors_buffer.rb
  lib/karafka/processing/jobs_queue.rb
  lib/karafka/processing/workers_batch.rb
Labels: refactor

#1954 remove duplicate retry logic
  lib/karafka/admin.rb
  lib/karafka/connection/proxy.rb
Labels: refactor

#1955 log more in integration specs
  bin/integrations
  lib/karafka/connection/proxy.rb
Labels: specs, internal

#1958 Improve shutdown when using long polling setup (high `max_wait_time`)
  CHANGELOG.md
  lib/karafka/connection/client.rb
  lib/karafka/connection/listener.rb
  spec/integrations/instrumentation/statistics_publishing_on_long_poll_spec.rb
  spec/integrations/shutdown/fast_shutdown_on_long_polling_spec.rb
  spec/lib/karafka/connection/client_spec.rb
  spec/lib/karafka/connection/listener_spec.rb
Labels: enhancement

#1959 Improve CI
  spec/integrations/consumption/producer_ping_pong_spec.rb
  spec/integrations/consumption/strategies/default/from_latest_with_non_persistent_error_spec.rb
  spec/integrations/consumption/strategies/default/of_many_topics_on_many_workers_spec.rb
  spec/integrations/consumption/strategies/default/of_many_topics_with_different_settings_spec.rb
  spec/integrations/consumption/with_max_messages_spec.rb
  spec/integrations/instrumentation/statistics_on_lag_with_many_sub_group_spec.rb
  spec/integrations/instrumentation/statistics_on_lag_with_one_sub_group_spec.rb
  spec/integrations/offset_management/from_latest_via_initial_offset_spec.rb
  spec/integrations/offset_management/from_latest_via_kafka_setting_spec.rb
  spec/integrations/pausing/with_manual_pause_and_other_partitions_working_spec.rb
  spec/integrations/pro/consumption/with_pro_scheduler_from_earliest_spec.rb
  spec/integrations/pro/performance_tracking_spec.rb
  spec/integrations/pro/shutdown/on_reached_quiet_spec.rb
  spec/integrations/rebalancing/lost_partition_revoked_execution_time_spec.rb
  spec/integrations/seek/seek_backward_from_consumer_spec.rb
  spec/integrations/seek/seek_in_a_loop_spec.rb
  spec/integrations/seek/seek_to_a_given_offset_from_consumer_spec.rb
  spec/integrations/shutdown/fast_shutdown_on_long_polling_spec.rb
  spec/integrations/shutdown/on_hanging_jobs_and_a_shutdown_spec.rb
  spec/integrations/shutdown/on_hanging_listener_and_shutdown_spec.rb
  spec/integrations/shutdown/on_hanging_on_shutdown_job_and_a_shutdown_spec.rb
  spec/integrations/shutdown/on_reached_quiet_spec.rb
  spec/integrations_helper.rb
Labels: specs, internal

#1962 Introduce ability to pause/resume subscription groups and reorganize periodic jobs
  CHANGELOG.md
  lib/karafka/connection/listener.rb
  lib/karafka/pro/base_consumer.rb
  lib/karafka/pro/loader.rb
  lib/karafka/pro/processing/coordinator.rb
  lib/karafka/pro/processing/jobs_queue.rb
  lib/karafka/pro/processing/strategies/aj/lrj_mom_vp.rb
  lib/karafka/pro/processing/strategies/default.rb
  lib/karafka/pro/processing/strategies/lrj/default.rb
  lib/karafka/pro/processing/strategies/lrj/mom.rb
  lib/karafka/pro/processing/subscription_groups_coordinator.rb
  lib/karafka/processing/coordinator.rb
  lib/karafka/processing/strategies/default.rb
  lib/karafka/time_trackers/partition_usage.rb
  spec/integrations/instrumentation/statistics_callback_on_client_change_spec.rb
  spec/integrations/pro/consumption/periodic_jobs/non_blocking_locking_with_periodic_unlock_spec.rb
  spec/integrations/pro/consumption/periodic_jobs/with_constant_short_poll_spec.rb
  spec/integrations/pro/consumption/periodic_jobs/with_saturated_execution_spec.rb
  spec/integrations/pro/consumption/time_based_non_blocking_locking_spec.rb
  spec/lib/karafka/base_consumer_spec.rb
  spec/lib/karafka/pro/active_job/consumer_spec.rb
  spec/lib/karafka/pro/base_consumer_spec.rb
  spec/lib/karafka/pro/processing/coordinator_spec.rb
  spec/lib/karafka/pro/processing/jobs_queue_spec.rb
  spec/lib/karafka/pro/processing/subscription_groups_coordinator_spec.rb
  spec/lib/karafka/processing/coordinator_spec.rb
  spec/lib/karafka/time_trackers/partition_usage_spec.rb
  spec/support/factories/processing/coordinator.rb
Labels: enhancement, pro, periodic jobs

#1963 test testing
  Gemfile
  Gemfile.lock
  spec/integrations/pro/testing/rspec/multiplexing_spec.rb
  spec/integrations/testing/rspec/simple_integration_spec.rb
  spec/integrations_helper.rb
Labels: specs

#1966 support time sensitive auto-unlock
  CHANGELOG.md
  lib/karafka/connection/client.rb
  lib/karafka/connection/listener.rb
  lib/karafka/pro/processing/jobs_queue.rb
  lib/karafka/processing/jobs_queue.rb
  spec/integrations/pro/consumption/fast_non_blocking_unlock_spec.rb
  spec/lib/karafka/pro/processing/jobs_queue_spec.rb
Labels: enhancement

#1967 proxy pass commit
  CHANGELOG.md
  config/locales/errors.yml
  lib/karafka/admin.rb
  lib/karafka/connection/proxy.rb
  lib/karafka/contracts/config.rb
  lib/karafka/setup/config.rb
  spec/lib/karafka/contracts/config_spec.rb
Labels: admin

#1968 Instrument listeners lifecycle events
  CHANGELOG.md
  lib/karafka/connection/status.rb
  lib/karafka/instrumentation/notifications.rb
  lib/karafka/status.rb
  spec/integrations/instrumentation/listener_lifecycle_flow_spec.rb
Labels: instrumentation

#1969 ensure k8s and swarm liveness works with multiplexing
  CHANGELOG.md
  lib/karafka/connection/status.rb
  lib/karafka/instrumentation/vendors/kubernetes/liveness_listener.rb
  lib/karafka/pro/swarm/liveness_listener.rb
  spec/integrations/pro/instrumentation/vendors/kubernetes/downscaled_multiplexing_support_spec.rb
  spec/integrations/pro/swarm/with_liveness_downscaling_multiplex_spec.rb
Labels: bug, instrumentation

#1971 move periodic jobs consumer logic to an extension
  lib/karafka/pro/base_consumer.rb
  lib/karafka/pro/processing/expansions_selector.rb
  lib/karafka/pro/processing/periodic_job/consumer.rb
  spec/lib/karafka/pro/base_consumer_spec.rb
  spec/lib/karafka/pro/processing/periodic_job/consumer_spec.rb
Labels: internal, refactor

#1973 remove unstable spec
  spec/integrations/rebalancing/cooperative_sticky_lifecycle_events_spec.rb
Labels: specs, internal

#1974 Provide direct piping API
  CHANGELOG.md
  lib/karafka/pro/processing/expansions_selector.rb
  lib/karafka/pro/processing/piping/consumer.rb
  spec/integrations/pro/consumption/piping/with_alteration_to_headers_spec.rb
  spec/integrations/pro/consumption/piping/without_any_changes_spec.rb
  spec/integrations/pro/consumption/piping/without_any_changes_transactional_spec.rb
  spec/lib/karafka/pro/processing/piping/consumer_spec.rb
  spec/support/factories/messages/message.rb
Labels: producer, transactions

#1975 optimize admin and expose `topic_info` admin API
  CHANGELOG.md
  config/locales/errors.yml
  lib/karafka/admin.rb
  lib/karafka/connection/proxy.rb
  lib/karafka/contracts/config.rb
  lib/karafka/setup/config.rb
  spec/lib/karafka/admin_spec.rb
  spec/lib/karafka/contracts/config_spec.rb
Labels: admin

#1976 Allow read lags on inactive cgs
  lib/karafka/admin.rb
  spec/integrations/admin/read_lags/inactive_topics_lags_spec.rb
Labels: admin

#1978 Introduce Admins low-level configs API
  Gemfile.lock
  karafka.gemspec
  lib/karafka/admin/configs.rb
  lib/karafka/admin/configs/config.rb
  lib/karafka/admin/configs/resource.rb
  spec/integrations/admin/configs_flow_spec.rb
  spec/integrations/pro/rebalancing/with_static_membership_reconnect_spec.rb
  spec/integrations/rebalancing/with_static_membership_reconnect_spec.rb
  spec/integrations_helper.rb
  spec/lib/karafka/admin/configs/config_spec.rb
  spec/lib/karafka/admin/configs/resource_spec.rb
  spec/lib/karafka/admin/configs_spec.rb
Labels: api-sync, feature, admin

#1979 topics align for config management
  CHANGELOG.md
  lib/karafka/cli/topics.rb
  spec/integrations/cli/declaratives/align_aligned_spec.rb
  spec/integrations/cli/declaratives/align_existing_spec.rb
  spec/integrations/cli/declaratives/align_nothing_spec.rb
  spec/integrations/cli/declaratives/migrate_opted_out_spec.rb
Labels: declaratives

#1980 Reorganize CLI topics sub-commands
  lib/karafka/cli/topics.rb
  lib/karafka/cli/topics/align.rb
  lib/karafka/cli/topics/base.rb
  lib/karafka/cli/topics/create.rb
  lib/karafka/cli/topics/delete.rb
  lib/karafka/cli/topics/migrate.rb
  lib/karafka/cli/topics/repartition.rb
  lib/karafka/cli/topics/reset.rb
  spec/integrations/cli/declaratives/align_incorrectly_spec.rb
  spec/lib/karafka/cli/help_spec.rb
  spec/lib/karafka/cli/topics/align_spec.rb
  spec/lib/karafka/cli/topics/base_spec.rb
  spec/lib/karafka/cli/topics/create_spec.rb
  spec/lib/karafka/cli/topics/delete_spec.rb
  spec/lib/karafka/cli/topics/migrate_spec.rb
  spec/lib/karafka/cli/topics/repartition_spec.rb
  spec/lib/karafka/cli/topics/reset_spec.rb
  spec/spec_helper.rb
Labels: cli, declaratives

#1981 Introduce karafka topics plan
  CHANGELOG.md
  lib/karafka/cli/topics.rb
  lib/karafka/cli/topics/plan.rb
  lib/karafka/helpers/colorize.rb
  spec/integrations/cli/declaratives/align/align_aligned_spec.rb
  spec/integrations/cli/declaratives/align/align_existing_spec.rb
  spec/integrations/cli/declaratives/align/align_incorrectly_spec.rb
  spec/integrations/cli/declaratives/align/align_nothing_spec.rb
  spec/integrations/cli/declaratives/create/create_empty_spec.rb
  spec/integrations/cli/declaratives/create/create_new_spec.rb
  spec/integrations/cli/declaratives/create/create_non_empty_but_opted_out_spec.rb
  spec/integrations/cli/declaratives/create/create_skip_existing_spec.rb
  spec/integrations/cli/declaratives/delete/delete_empty_spec.rb
  spec/integrations/cli/declaratives/delete/delete_existing_spec.rb
  spec/integrations/cli/declaratives/delete/delete_opted_out_spec.rb
  spec/integrations/cli/declaratives/delete/delete_skip_non_existing_spec.rb
  spec/integrations/cli/declaratives/delete/delete_skip_not_defined_spec.rb
  spec/integrations/cli/declaratives/migrate/migrate_existing_more_partitions_spec.rb
  spec/integrations/cli/declaratives/migrate/migrate_existing_no_change_spec.rb
  spec/integrations/cli/declaratives/migrate/migrate_existing_no_topic_spec.rb
  spec/integrations/cli/declaratives/migrate/migrate_inactive_spec.rb
  spec/integrations/cli/declaratives/migrate/migrate_opted_out_spec.rb
  spec/integrations/cli/declaratives/plan/when_declarative_with_config_spec.rb
  spec/integrations/cli/declaratives/plan/when_declarative_with_partitions_spec.rb
  spec/integrations/cli/declaratives/plan/when_declarative_without_changes_spec.rb
  spec/integrations/cli/declaratives/plan/when_missing_topics_partitions_and_configs_spec.rb
  spec/integrations/cli/declaratives/plan/when_no_declarative_topics_at_all_spec.rb
  spec/integrations/cli/declaratives/repartition/repartition_empty_spec.rb
  spec/integrations/cli/declaratives/repartition/repartition_less_present_spec.rb
  spec/integrations/cli/declaratives/repartition/repartition_more_present_spec.rb
  spec/integrations/cli/declaratives/repartition/repartition_opted_out_spec.rb
  spec/integrations/cli/declaratives/reset/reset_existing_spec.rb
  spec/integrations/pro/instrumentation/vendors/kubernetes/downscaled_multiplexing_support_spec.rb
  spec/integrations_helper.rb
  spec/lib/karafka/cli/topics/align_spec.rb
  spec/lib/karafka/cli/topics/base_spec.rb
  spec/lib/karafka/helpers/colorize_spec.rb
  spec/spec_helper.rb
Labels: cli, declaratives

#1982 support custom appsignal namespace
  CHANGELOG.md
  lib/karafka/instrumentation/vendors/appsignal/client.rb
Labels: enhancement, instrumentation

#1984 stream merging low-level example
  spec/integrations/pro/consumption/direct_assignments/multi_topic_stream_merging_spec.rb
Labels: specs, direct assignments

#1985 Stabilize spec
  spec/integrations/pro/rebalancing/virtual_partitions/coordinator_replacement_after_rebalance_spec.rb
Labels: specs, internal

#1987 Declarative unknown config name introduction fix
  lib/karafka/cli/topics/plan.rb
  spec/integrations/cli/declaratives/plan/when_missing_topics_partitions_and_configs_spec.rb
Labels: bug, declaratives

#1989 make sure direct assingments are not used with patterns
  config/locales/pro_errors.yml
  lib/karafka/pro/routing/features/direct_assignments/contracts/topic.rb
  spec/integrations/pro/consumption/patterns/complex_regexp_match_spec.rb
  spec/integrations/pro/routing/direct_assignments/with_pattern_attempt_spec.rb
  spec/lib/karafka/pro/routing/features/direct_assignments/contracts/topic_spec.rb
Labels: bug, patterns, direct assignments

#1990 make #enqueue_all output compatible with ActiveJob.perform_all_later
  lib/active_job/queue_adapters/karafka_adapter.rb
  spec/lib/active_job/queue_adapters/karafka_adapter_spec.rb
Labels: bug, activejob

#1995 improve dlq dispatch warranties
  CHANGELOG.md
  config/locales/errors.yml
  lib/karafka/base_consumer.rb
  lib/karafka/pro/processing/strategies/aj/dlq_ftr_lrj_mom.rb
  lib/karafka/pro/processing/strategies/aj/dlq_ftr_lrj_mom_vp.rb
  lib/karafka/pro/processing/strategies/aj/dlq_ftr_mom.rb
  lib/karafka/pro/processing/strategies/aj/dlq_ftr_mom_vp.rb
  lib/karafka/pro/processing/strategies/aj/dlq_lrj_mom.rb
  lib/karafka/pro/processing/strategies/aj/dlq_lrj_mom_vp.rb
  lib/karafka/pro/processing/strategies/aj/dlq_mom.rb
  lib/karafka/pro/processing/strategies/aj/dlq_mom_vp.rb
  lib/karafka/pro/processing/strategies/dlq/default.rb
  lib/karafka/processing/strategies/aj_dlq_mom.rb
  lib/karafka/processing/strategies/dlq.rb
  lib/karafka/routing/features/dead_letter_queue/config.rb
  lib/karafka/routing/features/dead_letter_queue/contracts/topic.rb
  lib/karafka/routing/features/dead_letter_queue/topic.rb
  spec/integrations/consumption/strategies/dlq/with_sync_dispatch_spec.rb
  spec/integrations/consumption/strategies/dlq/with_sync_marking_spec.rb
  spec/integrations/pro/consumption/strategies/dlq/default/details_dispatch_transfer_spec.rb
  spec/integrations/pro/consumption/strategies/dlq/default/with_sync_dispatch_spec.rb
  spec/integrations/pro/consumption/strategies/dlq/default/with_sync_marking_spec.rb
  spec/lib/karafka/routing/features/dead_letter_queue/contracts/topic_spec.rb
Labels: dead letter queue

#1996 pipe benchmark
  spec/benchmarks/piping/multiple_workers_piping_with_delivery_time.rb
Labels: internal

#2001 dir assignments restart spec
  spec/integrations/pro/consumption/direct_assignments/starting_from_where_it_left_spec.rb
Labels: specs, internal

#2003 multi-topic transactions spec
  spec/integrations/pro/consumption/direct_assignments/multi_topic_transactional_spec.rb
Labels: specs, transactions

#2005 dlq regexp unexpected match
  spec/integrations/pro/consumption/patterns/unexpected_patterns_loop_spec.rb
Labels: specs

#2007 support key and header deserializers
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  config/locales/errors.yml
  lib/karafka/contracts/topic.rb
  lib/karafka/deserializers/headers.rb
  lib/karafka/deserializers/key.rb
  lib/karafka/deserializers/payload.rb
  lib/karafka/messages/batch_metadata.rb
  lib/karafka/messages/builders/batch_metadata.rb
  lib/karafka/messages/builders/message.rb
  lib/karafka/messages/message.rb
  lib/karafka/messages/metadata.rb
  lib/karafka/messages/parser.rb
  lib/karafka/routing/features/deserializers.rb
  lib/karafka/routing/features/deserializers/config.rb
  lib/karafka/routing/features/deserializers/contracts/topic.rb
  lib/karafka/routing/features/deserializers/topic.rb
  lib/karafka/routing/router.rb
  lib/karafka/routing/topic.rb
  lib/karafka/serialization/json/deserializer.rb
  lib/karafka/setup/config.rb
  spec/integrations/deserialization/custom_default_deserializer_usage_spec.rb
  spec/integrations/deserialization/custom_deserializer_usage_spec.rb
  spec/integrations/deserialization/custom_per_topic_spec.rb
  spec/integrations/deserialization/default_deserializer_usage_spec.rb
  spec/integrations/deserialization/routing_default_deserializer_usage_spec.rb
  spec/integrations/pro/encryption/consumption/with_unencrypted_message_spec.rb
  spec/integrations/pro/encryption/consumption/without_proper_private_key_version_spec.rb
  spec/lib/karafka/admin_spec.rb
  spec/lib/karafka/contracts/topic_spec.rb
  spec/lib/karafka/deserializers/headers_spec.rb
  spec/lib/karafka/deserializers/key_spec.rb
  spec/lib/karafka/deserializers/payload_spec.rb
  spec/lib/karafka/messages/batch_metadata_spec.rb
  spec/lib/karafka/messages/builders/batch_metadata_spec.rb
  spec/lib/karafka/messages/message_spec.rb
  spec/lib/karafka/messages/metadata_spec.rb
  spec/lib/karafka/pro/encryption/messages/parser_spec.rb
  spec/lib/karafka/pro/processing/piping/consumer_spec.rb
  spec/lib/karafka/routing/builder_spec.rb
  spec/lib/karafka/routing/features/deserializers/config_spec.rb
  spec/lib/karafka/routing/features/deserializers/contracts/topic_spec.rb
  spec/lib/karafka/routing/features/deserializers/topic_spec.rb
  spec/lib/karafka/routing/features/deserializers_spec.rb
  spec/lib/karafka/routing/router_spec.rb
  spec/lib/karafka/routing/topic_spec.rb
  spec/support/factories/messages/message.rb
  spec/support/factories/messages/metadata.rb
Labels: feature, routing

#2008 allow to disable polling logs
  CHANGELOG.md
  lib/karafka/instrumentation/logger_listener.rb
  spec/lib/karafka/instrumentation/logger_listener_spec.rb
Labels: instrumentation

#2000 Add support custom oauth token provider
  Gemfile.lock
  config/locales/errors.yml
  karafka.gemspec
  lib/karafka/admin.rb
  lib/karafka/connection/client.rb
  lib/karafka/contracts/config.rb
  lib/karafka/instrumentation/callbacks/oauthbearer_token_refresh.rb
  lib/karafka/instrumentation/notifications.rb
  lib/karafka/setup/config.rb
  spec/integrations/instrumentation/oauth_listener_producer_inheritance_spec.rb
  spec/lib/karafka/contracts/config_spec.rb
  spec/lib/karafka/instrumentation/callbacks/oauthbearer_token_refresh_spec.rb
Labels: feature

#2011 stabilize spec and update changelog
  CHANGELOG.md
  spec/integrations/pro/consumption/direct_assignments/transactions_support_spec.rb
Labels: specs, internal

#2013 stabilize another spec
  CHANGELOG.md
  spec/integrations/pro/consumption/direct_assignments/marking_as_consumed_spec.rb
Labels: specs, internal

#2016 Fix default deserializer inheritance on dynamically built admin topics fetches
  lib/karafka/routing/router.rb
  spec/integrations/admin/read_topic/with_default_for_non_routed_topic_spec.rb
  spec/integrations/admin/read_topic/with_defaults_but_overwritten_in_routes_spec.rb
Labels: bug

#2017 add extra pattern and defaults spec
  spec/integrations/pro/consumption/patterns/post_detected_with_default_deserializers_spec.rb
Labels: specs, internal
