Repository karafka/karafka, pull requests merged in 2024-10, with the labels that each got.

#2301 fix ruby-lsp dir lookup
  CHANGELOG.md
  Gemfile.lock
  lib/karafka.rb
  lib/karafka/version.rb
  spec/integrations/rails/rails70_pristine/without-active_job_rspec/console_with_rails_spec.rb
  spec/integrations/rails/rails71_pristine/with_kubernetes_listener_in_the_console/console_with_rails_spec.rb
  spec/integrations/rails/rails71_pristine/without-active_job_rspec/console_with_rails_spec.rb
  spec/integrations/rails/rails72_pristine/with_kubernetes_listener_in_the_console/console_with_rails_spec.rb
  spec/integrations/rails/rails72_pristine/without-active_job_rspec/console_with_rails_spec.rb
Labels: bug

#2303 Don't report declarative partitions with fewer topics than on cluster
  lib/karafka/cli/topics/plan.rb
  spec/integrations/cli/declaratives/plan/when_with_partitions_spec.rb
Labels: declaratives

#2304 Report partition downscale as ignored in declarative topics
  CHANGELOG.md
  lib/karafka/cli/topics/plan.rb
  spec/integrations/cli/declaratives/plan/when_downscaling_partitions_spec.rb
Labels: enhancement, declaratives

#2307 Validate cli options in swarm
  CHANGELOG.md
  lib/karafka/cli/base.rb
  lib/karafka/swarm/supervisor.rb
  spec/integrations/swarm/cli_validations_for_inclusions_spec.rb
Labels: bug, swarm

#2312 Introduce strict mode for declarative topics
  CHANGELOG.md
  config/locales/errors.yml
  lib/karafka/contracts/config.rb
  lib/karafka/contracts/routing.rb
  lib/karafka/routing/builder.rb
  lib/karafka/setup/config.rb
  spec/integrations/cli/declaratives/strict_setup_requirement_spec.rb
  spec/integrations/pro/cli/declaratives/strict_setup_requirement_spec.rb
  spec/lib/karafka/contracts/config_spec.rb
  spec/lib/karafka/contracts/routing_spec.rb
Labels: enhancement

#2313 Support detailed exit code on topic commands
  CHANGELOG.md
  bin/integrations
  lib/karafka/cli/topics.rb
  lib/karafka/cli/topics/plan.rb
  spec/integrations/cli/declaratives/create/new_with_exit_code_spec.rb
  spec/integrations/cli/declaratives/delete/existing_with_exit_code_spec.rb
  spec/integrations/cli/declaratives/plan/when_changes_with_detailed_exit_code_spec.rb
  spec/integrations/cli/declaratives/plan/when_downscaling_partitions_with_exit_code_spec.rb
  spec/integrations/cli/declaratives/plan/when_no_changes_with_detailed_exit_code_spec.rb
  spec/integrations/cli/declaratives/plan/when_no_topics_at_all_with_exit_code_spec.rb
Labels: enhancement, declaratives

#2314 promote healthy? to public
  CHANGELOG.md
  lib/karafka/instrumentation/vendors/kubernetes/base_listener.rb
  lib/karafka/instrumentation/vendors/kubernetes/liveness_listener.rb
  spec/lib/karafka/instrumentation/vendors/kubernetes/base_listener_spec.rb
Labels: enhancement, instrumentation

#2320 update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation
