Repository karafka/karafka, pull requests merged in 2024-02, with the labels that each got.

#1880 improve specs stability
  spec/integrations/pro/consumption/periodic_jobs/with_custom_frequencies_spec.rb
  spec/integrations/pro/consumption/transactions/vps/all_ok_current_spec.rb
Labels: specs, internal

#1881 ensure parallel executions of async are ok
  CHANGELOG.md
  Gemfile.lock
  lib/karafka/helpers/async.rb
  lib/karafka/version.rb
Labels: internal

#1887 Ensure correct silence procedure
  CHANGELOG.md
  Gemfile.lock
  lib/karafka/pro/connection/manager.rb
  lib/karafka/version.rb
  spec/integrations/pro/shutdown/on_reached_quiet_spec.rb
  spec/integrations/shutdown/on_reached_quiet_spec.rb
Labels: bug

#1890 test forking of logger in rdkafka
  Gemfile.lock
  spec/integrations/instrumentation/producer_logger_on_forks_spec.rb
Labels: specs

#1899 track execution errors during the recovery flow
  CHANGELOG.md
  lib/karafka/pro/base_consumer.rb
  lib/karafka/pro/processing/coordinator.rb
  lib/karafka/pro/processing/coordinators/errors_tracker.rb
  lib/karafka/pro/processing/coordinators/filters_applier.rb
  lib/karafka/pro/processing/coordinators/virtual_offset_manager.rb
  lib/karafka/pro/processing/filters_applier.rb
  lib/karafka/pro/processing/virtual_offset_manager.rb
  spec/integrations/pro/consumption/strategies/dlq/default/post_dispatch_errors_tracker_state_spec.rb
  spec/integrations/pro/consumption/strategies/vp/errors_tracking/collapsed_consecutive_errors_accumulation_spec.rb
  spec/integrations/pro/consumption/strategies/vp/errors_tracking/consecutive_errors_spec.rb
  spec/lib/karafka/pro/processing/coordinators/errors_tracker_spec.rb
  spec/lib/karafka/pro/processing/coordinators/filters_applier_spec.rb
  spec/lib/karafka/pro/processing/coordinators/virtual_offset_manager_spec.rb
  spec/lib/karafka/pro/processing/filters/virtual_limiter_spec.rb
Labels: pro, dead letter queue

#1901 Fix endless groups accumulation
  CHANGELOG.md
  lib/karafka/pro/processing/strategies/vp/default.rb
  spec/integrations/pro/consumption/strategies/vp/errors_tracking/collapsed_consecutive_errors_accumulation_spec.rb
  spec/integrations/pro/consumption/strategies/vp/groups_aggregation_halt_on_recovery_spec.rb
Labels: bug, virtual partitions

#1895 Swarm Pro Liveness Listener
  lib/karafka/pro/swarm/liveness_listener.rb
  lib/karafka/swarm/liveness_listener.rb
  spec/integrations/pro/swarm/with_liveness_exceeding_memory_spec.rb
  spec/lib/karafka/connection/listener_spec.rb
  spec/lib/karafka/pro/swarm/liveness_listener_spec.rb
Labels: pro, swarm

#1903 Provide ability to use strategies with errors tracker for DLQ application
  CHANGELOG.md
  config/locales/pro_errors.yml
  lib/karafka/pro/active_job/job_options_contract.rb
  lib/karafka/pro/processing/strategies/aj/dlq_ftr_lrj_mom.rb
  lib/karafka/pro/processing/strategies/aj/dlq_ftr_lrj_mom_vp.rb
  lib/karafka/pro/processing/strategies/aj/dlq_ftr_mom.rb
  lib/karafka/pro/processing/strategies/aj/dlq_ftr_mom_vp.rb
  lib/karafka/pro/processing/strategies/aj/dlq_lrj_mom.rb
  lib/karafka/pro/processing/strategies/aj/dlq_lrj_mom_vp.rb
  lib/karafka/pro/processing/strategies/aj/dlq_mom.rb
  lib/karafka/pro/processing/strategies/aj/dlq_mom_vp.rb
  lib/karafka/pro/processing/strategies/dlq/default.rb
  lib/karafka/pro/processing/strategies/dlq/ftr.rb
  lib/karafka/pro/processing/strategies/dlq/ftr_lrj.rb
  lib/karafka/pro/processing/strategies/dlq/ftr_lrj_mom.rb
  lib/karafka/pro/processing/strategies/dlq/ftr_mom.rb
  lib/karafka/pro/processing/strategies/dlq/lrj.rb
  lib/karafka/pro/processing/strategies/dlq/lrj_mom.rb
  lib/karafka/pro/processing/strategies/dlq/mom.rb
  lib/karafka/pro/routing/features/dead_letter_queue/contracts/topic.rb
  lib/karafka/pro/routing/features/dead_letter_queue/topic.rb
  lib/karafka/routing/features/dead_letter_queue/config.rb
  spec/integrations/pro/consumption/strategies/aj/dlq_mom/with_error_type_based_dispatcher_spec.rb
  spec/integrations/pro/consumption/strategies/dlq/default/with_error_type_based_dispatcher_spec.rb
  spec/lib/karafka/pro/active_job/job_options_contract_spec.rb
  spec/lib/karafka/pro/routing/features/dead_letter_queue/contracts/topic_spec.rb
  spec/lib/karafka/pro/routing/features/dead_letter_queue/topic_spec.rb
Labels: pro, dead letter queue

#1918 enhanced swarm stop status reporting
  CHANGELOG.md
  lib/karafka/swarm/manager.rb
  spec/integrations/pro/rebalancing/saturated_execution_skip_spec.rb
  spec/integrations/swarm/forceful_nodes_restart_graceful_supervisor_stop_spec.rb
  spec/integrations/swarm/forceful_shutdown_of_hanging_spec.rb
Labels: swarm

#1923 fix invalid sub-id propagation for static memberships
  CHANGELOG.md
  lib/karafka/connection/client.rb
  lib/karafka/routing/subscription_group.rb
  spec/integrations/swarm/static_memberships_without_a_conflict_spec.rb
  spec/lib/karafka/routing/subscription_group_spec.rb
Labels: swarm

#1926 provide granular nodes control in swarm
  CHANGELOG.md
  config/locales/pro_errors.yml
  lib/karafka/pro/routing/features/swarm.rb
  lib/karafka/pro/routing/features/swarm/config.rb
  lib/karafka/pro/routing/features/swarm/contracts/topic.rb
  lib/karafka/pro/routing/features/swarm/topic.rb
  spec/integrations/pro/swarm/limited_per_node_spec.rb
  spec/integrations/pro/swarm/with_unreachable_nodes_spec.rb
  spec/integrations/swarm/static_memberships_without_a_conflict_spec.rb
  spec/lib/karafka/pro/routing/features/swarm/config_spec.rb
  spec/lib/karafka/pro/routing/features/swarm/contracts/topic_spec.rb
  spec/lib/karafka/pro/routing/features/swarm/topic_spec.rb
  spec/lib/karafka/pro/routing/features/swarm_spec.rb
Labels: pro, routing, swarm

#1924 Add `use_distributions` setting to Datadog::MetricsListener
  lib/karafka/instrumentation/vendors/datadog/metrics_listener.rb
  spec/integrations/instrumentation/vendors/datadog/metrics_flow_with_distributions_spec.rb
  spec/support/vendors/datadog/statsd_dummy_client.rb
Labels: instrumentation

#1928 Add `distribution` setting to Datadog::MetricsListener (#1924)
  CHANGELOG.md
  lib/karafka/instrumentation/vendors/datadog/metrics_listener.rb
  spec/integrations/instrumentation/vendors/datadog/metrics_flow_with_distributions_spec.rb
  spec/support/vendors/datadog/statsd_dummy_client.rb
Labels: instrumentation

#1930 Swarm parent pidfd reference improvement
  lib/karafka/swarm/manager.rb
  lib/karafka/swarm/node.rb
  lib/karafka/swarm/pidfd.rb
  lib/karafka/swarm/supervisor.rb
  spec/support/factories/swarm/node.rb
Labels: swarm

#1937 Add a buffer to the supervisor supervision on shutdown to prevent a potential race condition when signal pass lags
  CHANGELOG.md
  Gemfile.lock
  lib/karafka/swarm/supervisor.rb
  lib/karafka/version.rb
Labels: enhancement, swarm

#1938 validate each node assignments in swarm
  CHANGELOG.md
  config/locales/pro_errors.yml
  lib/karafka/pro/routing/features/swarm.rb
  lib/karafka/pro/routing/features/swarm/contracts/routing.rb
  lib/karafka/pro/routing/features/swarm/contracts/topic.rb
  lib/karafka/swarm/supervisor.rb
  spec/integrations/pro/encryption/consumption/with_key_mismatch_spec.rb
  spec/integrations/pro/routing/dlq_with_vp_spec.rb
  spec/integrations/pro/routing/limited_scope/with_mix_but_inactive_without_consumer_spec.rb
  spec/integrations/pro/routing/non_pro_without_long_running_job_spec.rb
  spec/integrations/pro/routing/non_pro_without_virtual_partitioner_spec.rb
  spec/integrations/pro/routing/patterns/routing_definitions_spec.rb
  spec/integrations/pro/routing/patterns/without_pro_spec.rb
  spec/integrations/pro/routing/pausing/with_custom_invalid_pausing_spec.rb
  spec/integrations/pro/routing/pausing/with_custom_valid_spec.rb
  spec/integrations/pro/routing/pro_with_long_running_job_spec.rb
  spec/integrations/pro/routing/pro_with_virtual_partitioner_spec.rb
  spec/integrations/pro/routing/valid_with_features_usage_spec.rb
  spec/integrations/pro/swarm/with_unreachable_nodes_spec.rb
  spec/integrations/pro/swarm/with_unused_nodes_spec.rb
  spec/integrations/routing/blockless_defaults_spec.rb
  spec/integrations/routing/different_cluster_consumer_groups_spec.rb
  spec/integrations/routing/limited_scope/with_mix_but_inactive_without_consumer_spec.rb
  spec/integrations/routing/routing_and_cli_validations_for_exclusions_spec.rb
  spec/integrations/routing/routing_and_cli_validations_for_inclusions_spec.rb
  spec/integrations/routing/routing_with_nameless_subscription_groups_spec.rb
  spec/integrations/routing/routing_with_subscription_groups_block_based_spec.rb
  spec/integrations/routing/routing_with_symbol_based_subscription_group_spec.rb
  spec/integrations/routing/routing_with_the_simple_routes_style_spec.rb
  spec/integrations/routing/runtime_routing_expansion_spec.rb
  spec/integrations/routing/stable_with_limited_consumer_groups_excluded_spec.rb
  spec/integrations/routing/stable_with_limited_consumer_groups_spec.rb
  spec/integrations/routing/stable_with_subscription_groups_spec.rb
  spec/integrations/routing/valid_with_features_usage_spec.rb
  spec/integrations/routing/with_per_topic_consumer_persistence_spec.rb
  spec/lib/karafka/pro/routing/features/swarm/contracts/routing_spec.rb
Labels: enhancement, swarm
